@use "variables" as v;

@keyframes LoopGradient {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 0%;
  }
}

* {
  box-sizing: border-box;
  outline: none;
  &::-webkit-scrollbar {
    width: v.$scrollbarWidth;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #0000;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: #3335;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #3339;
  }
}
img,button {
  user-select: none;
  -webkit-user-drag: none;
}
.App {
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  display: flex;
  .NavGhost {
    width: v.$navWidth;
    height: 100%;
  }
  .Main {
    flex: 1;
    display: flex;
    flex-direction: column;
    .MainHead {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: #16f;
      box-shadow: 0 1px 4px black;
      padding: 5px 10px;
      color: white;
      .Networks {
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 1.05rem;
      }
      .Item {
        padding: 5px 10px;
        font-size: 1.05rem;
        display: flex;
        align-items: center;
        & > * {
          margin-right: 5px;
        }
        .NetworkRefreshButton {
          width: 30px;
          height: 30px;
          padding: 4px;
          border-radius: 3px;
          border: 1px solid #fff9;
          outline: none;
          background-color: #fff2;
          transition: v.$fastTransition;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: #fff6;
          }
          &:active {
            background-color: #0b0d;
          }
        }
      }
      .ServerButtonContainer {
        position: absolute;
        top: 10px;
        right: 20px;
        .ServerButton {
          text-wrap: nowrap;;
          border: 1px solid #3229;
          background-color: #fff;
          padding: 4px 10px;
          border-radius: 6px;
          min-height: 25px;
          display: flex;
          align-items: center;
          gap: 6px;
          justify-content: space-around;
          font-size: 1.05rem;
          font-weight: bold;
          line-height: 25px;
          transition: all v.$fastTransition;
          cursor: pointer;
          &:hover:not(:disabled) {
            filter: brightness(0.9);
          }
          &:active {
            filter: brightness(1.1);
          }
          &.ServerOpen {
            background: linear-gradient(to right,
              #fff 20%,
              #afa 30%,
              #fff 40%
            );
            animation: LoopGradient 5s linear infinite;
            background-color: #fff;
            background-size: 500% 100%;
            background-repeat: no-repeat;
            box-shadow: 0 2px 3px #0b0;
            &:hover {
              box-shadow: 0 2px 3px #322;
            }
          }
          &.ServerClose {
            box-shadow: 0 2px 3px #322;
            &:hover {
              box-shadow: 0 2px 3px #0b0;
            }
          }
          &:disabled {
            filter: brightness(0.8);
            cursor: not-allowed;
          }

          .TextContainer {
            display: inline-grid;
            width: max-content;
            align-items: center;
            .Text {
              grid-area: 1 / 1;
              &.Hide {
              visibility: hidden;
            }
          }
          }
          .Circle {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            &.Open {
              background-color: #0b0;
            }
            &.Close {
              background-color: #f00;
            }
          }
        }
      }
    }
    .MainBody {
      flex: 1;
      overflow-y: hidden;
      display: grid;
      grid-template-columns: 6fr 4fr;
      gap: 6px;
      padding: 5px;
      .ItemGrid {
        width: 100%;
        height: 100%;
        min-height: 0;
        min-width: 0;
      }
    }
  }
}
