* {
  box-sizing: border-box;
}
.App {
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  .Head {
    width: 100%;
    max-height: 60px;
    border-bottom: 1px solid black;
  }
  .Box1 {
    width: 95%;
    display: flex;
    border: 1px solid black;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
  }
}

.FileList {
  width: 95%;
  max-height: 80%;
  overflow-y: auto;
  border: 1px solid black;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
}

.FileElement {
  border-left: 1px solid black;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
}

.ServerStatOpen {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
}
.ServerStatClose {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

button {
  background-color: #00000000;
  border: 1px solid gray;
  color: black;
  min-width: fit-content;
  border-color: gray;
  transition: 0.2s;
  text-align: center;
  padding: 5px 10px;
  overflow: hidden;
  white-space: nowrap;
}
button:hover {
  background-color: #33333388;
  border-color: purple;
  color: purple;
}
button:disabled {
  background-color: gray;
}
