@use "variables" as v;
* {
  box-sizing: border-box;
  user-select: none;
  outline: none;
  &::-webkit-scrollbar {
    width: v.$scrollbarWidth;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #0000;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: #3335;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #3339;
  }
}
.App {
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  display: flex;
  .NavGhost {
    width: v.$navWidth;
    height: 100%;
  }
  .Main {
    flex: 1;
    display: flex;
    flex-direction: column;
    .MainHead {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: #16f;
      box-shadow: 0 1px 4px black;
      padding: 5px 10px;
      color: white;
      .Networks {
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 1.05rem;
      }
      .Item {
        padding: 5px 10px;
        font-size: 1.05rem;
        & > * {
          margin-right: 5px;
        }
        .NetworkRefreshButton {
          padding: 5px 10px;
          border-radius: 3px;
          font-size: 1.05rem;
          background-color: #fff;
          border: 1px solid #999;
          transition: v.$fastTransition;
          &:hover {
            background-color: #ddd;
          }
        }
      }
      .ServerButton {
        position: absolute;
        top: 10px;
        right: 20px;
        border: 2px solid #211a;
        background-color: #fff;
        padding: 5px 10px;
        border-radius: 25px;
        min-height: 25px;
        justify-content: center;
        font-size: 1.05rem;
        font-weight: bold;
        line-height: 25px;
        transition: v.$slowTransition;
        cursor: pointer;
        &:hover {
          background-color: #ddd;
        }
        &:active {
          transition: v.$fastTransition;
          background-color: #bbb;
        }
        span {
          display: inline-block;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          &.Open {
            background-color: #0b0;
          }
          &.Close {
            background-color: #f00;
          }
        }
      }
      .ServerOpen {
        box-shadow: 0 2px 3px #0b0;
        &:hover {
          box-shadow: 0 2px 3px #322;
        }
      }
      .ServerClose {
        box-shadow: 0 2px 3px #322;
        &:hover {
          box-shadow: 0 2px 3px #0b0;
        }
      }
    }
    .MainBody {
      flex: 1;
      overflow-y: hidden;
      display: grid;
      grid-template-columns: 6fr 4fr;
      padding: 5px;
      .ItemGrid {
        width: 100%;
        height: 100%;
        min-height: 0;
        min-width: 0;
      }
    }
  }
}

.FileList {
  width: 95%;
  max-height: 80%;
  overflow-y: auto;
  border: 1px solid black;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
}

.FileElement {
  border-left: 1px solid black;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
}
