@use "variables" as v;
.JobView {
  width: 95%;
  min-height: 150px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  color: black;
  box-shadow: 1px 1px 3px black;
  background-color: white;
  overflow: hidden;
  .Head {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 1.04rem;
    font-weight: bold;
    overflow: hidden;
    width: 95%;
    border-bottom: 1px solid #999;
  }
  .Body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .Element {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      margin-bottom: 3px;
      span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    input[type="text"] {
      border-radius: 8px;
      border: 1px solid #333;
      padding: 5px;
      margin: 0 5px;
    }
    button {
      padding: 5px 10px;
      color: white;
      font-weight: bold;
      transition: v.$fastTransition;
      background-color: #47c;
      cursor: pointer;
      border: none;
      border-radius: 20px;
      &:hover {
        background-color: #25f;
      }
      &:active {
        background-color: #00f;
      }
    }
  }
  .Foot {
    display: flex;
    flex-direction: row;
    button {
      flex: 1;
      padding: 8px;
      border: none;
      transition: v.$fastTransition;
    }
    .Pos {
      color: white;
      background-color: #1a3;
      &:hover {
        background-color: #092;
      }
    }
    .Neg {
      color: black;
      background-color: #ddd;
      &:hover {
        background-color: #ccc;
      }
    }
  }
}
