@use "variables" as v;
.Nav {
  position: absolute;
  right: calc(100% - #{v.$navWidth});
  top: 0;
  width: v.$navGrowWidth;
  height: 100vh;
  backdrop-filter: blur(2px);
  background-color: #f9f9f9a0;
  box-shadow: 1px 1px 1px #0006;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  &.Grow {
    right: calc(100% - #{v.$navGrowWidth});
    .Head .Element .Menu .MenuButton {
      transform: rotate(180deg);
    }
  }
  .Head {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: v.$navWidth;
    justify-content: space-between;
    background-color: #9993;
    .Element {
      display: flex;
      flex-direction: row;
      .Icon {
        width: v.$navWidth;
        height: v.$navWidth;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .Settings {
        stroke: black;
        fill: black;
        cursor: pointer;
        &:hover {
          background-color: #1166ff60;
          stroke: red;
          fill: red;
        }
      }
      .Pin {
        stroke: black;
        margin-right: auto;
        cursor: pointer;
        &:hover {
          background-color: #1166ff60;
          stroke: red;
          fill: red;
        }
      }
      .Active {
        stroke: #3f2;
        fill: #3f2;
      }
      .Menu {
        stroke: black;
        margin-left: auto;
        .MenuButton {
          padding: 6px;
          background-color: unset;
          border: none;
          &:hover {
            background-color: #1166ff60;
            stroke: white;
          }
        }
        .Circle {
          position: absolute;
          top: 2px;
          right: 2px;
          width: calc(#{v.$navWidth} / 4);
          height: calc(#{v.$navWidth} / 4);
          border-radius: 50%;
          background-color: crimson;
        }
      }
      .NumJobs {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 1.04rem;
        font-weight: bold;
      }
      .Full {
        color: #f13;
      }
    }
  }
  .Body {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 5px 20px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
