@use './variables' as *;
.Settings {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 600px;
  min-height: 400px;
  border-radius: 12px;
  box-shadow: 0px 0px 4px #666;
  background-color: white;
  border: 1px solid #888;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: showUp $fastTransition linear 0s;
  .SettingsHead {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    padding: 15px 0;
    :global .Icon {
      width: 24px;
      height: 24px;
      stroke: black;
      margin-right: 6px;
    }
  }
  .SettingsBody {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 5px 10px;
    overflow-y: auto;
    max-height: 500px;
    background-color: #fff;
    .SettingsElement {
      width: 100%;
      padding: 10px 4px;
      border-radius: 2px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      &:hover {
        background-color: #f9f9f9;
      }
      .Head {
        font-weight: bold;
        margin-bottom: 8px;
        .Warn {
          display: inline-flex;
          align-items: center;
          padding-left: 10px;
          font-size: 0.98rem;
          font-weight: normal;
          color: crimson;
        }
      }
      .Body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-width: 60%;
        user-select: text;
        font-size: 1.02rem;
        line-height: 1.02rem;
        padding: 5px;
        margin-bottom: 5px;
        border: 1px solid #888;
        border-radius: 2px;
        &:focus {
          border: 1px solid #25f;
        }
      }
      button {
        padding: 5px 10px;
        color: white;
        font-weight: bold;
        transition: $fastTransition;
        background-color: #47c;
        cursor: pointer;
        border: none;
        border-radius: 20px;
        &:hover {
          background-color: #25f;
        }
        &:active {
          background-color: #00f;
        }
      }
    }
  }
  .SettingsFoot {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    button {
      padding: 8px 10px;
      font-size: 1.02rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      &:not(:last-child) {
        margin-right: 14px;
      }
      &.Negative {
        background-color: #f2f2f2;
        &:hover {
          background-color: #e0e0e0;
        }
      }
    }
  }
}
@keyframes showUp {
  from {
    opacity: 0;
    top: 52%;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}
